<!DOCTYPE html>
<html lang="pt-br">
  <%- include('head'); %>

<body>
  <%- include('header'); %>
  <main>
    <div>
      <h1> Sobre:</h1>
      <p> Olá, sou a Mariana, estudante/egenheira/dev</p>

    </div>

  </main>

  <%- include('footer'); %>

</body>
</html>